<footer>
  <span class="copyright">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Content on this site is licensed under an Attribution-NonCommercial-ShareAlike 4.0 International license</a>
  </span>
</footer>
