<nav>
  <ul>
    <li>
      <a href="/">
        AJ
      </a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
    <li>
      <a href="/projects">
        Projects
      </a>
    </li>
    <li>
      <a href="/posts">
        Posts
      </a>
    </li>
    <li>
      <a href="mailto:aidan@aidanjon.es">
        Email
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/aidantjones/">
        LinkedIn
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer" href="https://github.com/aidantjones">
        GitHub
      </a>
    </li>
  </ul>
</nav>
