<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include meta.liquid %}
    <title>{{ title }} - Aidan Jones</title>
  </head>
  <body class="text min-width">
    {% include header.liquid %}
    <h1>{{ title }}</h1>
    <main>
      {{ content }}
    </main>
  </body>
</html>
